<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[大笑]</string>
		<key>png</key>
		<string>EmotionIcon/e_daxiao.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[流泪]</string>
		<key>png</key>
		<string>EmotionIcon/e_liulei.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[偷笑]</string>
		<key>png</key>
		<string>EmotionIcon/e_touxiao.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可怜]</string>
		<key>png</key>
		<string>EmotionIcon/e_kelian.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呲牙]</string>
		<key>png</key>
		<string>EmotionIcon/e_ziya.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抓狂]</string>
		<key>png</key>
		<string>EmotionIcon/e_zhuakuang.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鼓掌]</string>
		<key>png</key>
		<string>EmotionIcon/e_guzhang.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[色]</string>
		<key>png</key>
		<string>EmotionIcon/e_se.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抠鼻]</string>
		<key>png</key>
		<string>EmotionIcon/e_koubi.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>EmotionIcon/e_jingya.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲亲]</string>
		<key>png</key>
		<string>EmotionIcon/e_qinqin.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[发怒]</string>
		<key>png</key>
		<string>EmotionIcon/e_fannu.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[再见]</string>
		<key>png</key>
		<string>EmotionIcon/e_zaijian.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊恐]</string>
		<key>png</key>
		<string>EmotionIcon/e_jingkong.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可爱]</string>
		<key>png</key>
		<string>EmotionIcon/e_keai.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[微笑]</string>
		<key>png</key>
		<string>EmotionIcon/e_weixiao.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[调皮]</string>
		<key>png</key>
		<string>EmotionIcon/e_tiaopi.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[钱]</string>
		<key>png</key>
		<string>EmotionIcon/e_money.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[安静]</string>
		<key>png</key>
		<string>EmotionIcon/e_anjing.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酷]</string>
		<key>png</key>
		<string>EmotionIcon/e_ku.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[纠结]</string>
		<key>png</key>
		<string>EmotionIcon/e_jiujie.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[犯困]</string>
		<key>png</key>
		<string>EmotionIcon/e_fankun.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[撇嘴]</string>
		<key>png</key>
		<string>EmotionIcon/e_piezui.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[晕]</string>
		<key>png</key>
		<string>EmotionIcon/e_yun.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[赞]</string>
		<key>png</key>
		<string>EmotionIcon/e_zan.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[爱心]</string>
		<key>png</key>
		<string>EmotionIcon/e_aixin.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心碎]</string>
		<key>png</key>
		<string>EmotionIcon/e_xinsui.png</string>
	</dict>
</array>
</plist>
