<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>defaultIconName</key>
		<string>musicbox</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>音乐盒声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>clock</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>时钟跳动声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>bell</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>教堂钟声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>ring</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>风铃声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>woodenfish</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>木鱼敲击声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>pipa</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>琵琶曲</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>piano</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>钢琴曲</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>sachs</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>萨克斯曲</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>carillon</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>钟琴声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>guzheng</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>古筝曲</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>violin</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>小提琴曲</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>cuckoo</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>布谷鸟叫声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>seagull</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>海鸥叫声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>frog</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>青蛙夜鸣叫</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>woodpecker</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>啄木鸟叫声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>stream</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>溪流声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>drop</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>屋檐滴水声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>robin</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>知更鸟叫声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>wave_m</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>中度海浪声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>rain1</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>雨声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>horse</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>马车行走声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>wave_s</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>轻微海浪声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>cicada</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>蝉</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>fire</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>篝火</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>thunder</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>闷雷</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>waterboiling</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>泉水沸腾</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>summernight</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>盛夏之夜</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>rain3</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>屋顶雨声</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>rain2</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>细雨</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>sing</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>咏唱</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>think</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>无限遐想音</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>dream</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>梦幻音</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>quietnight</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>寂静午夜音</string>
	</dict>
	<dict>
		<key>defaultIconName</key>
		<string>quietcoast</string>
		<key>frequencyURLStr</key>
		<string></string>
		<key>frequencyName</key>
		<string>寂静海岸</string>
	</dict>
</array>
</plist>
